<div class="container">
    <h1> Búsqueda de Jugadores</h1>
    <hr>
    <br>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Buscar según</label>
            <select name="filter" id="filter" class="form-select" formControlName="searchFilter">
                <option selected disabled>Selecciona una opción</option>
                <option value="long_name">Nombre</option>
                <option value="club_name">Club</option>
                <option value="player_positions">Posición</option>
                <option value="nationality_name">Nacionalidad</option>
                <option value="fifa_version">Versión de FIFA</option>
                <option value="overall">Overall</option>
                <option value="potential">Potencial</option>
                <option value="age">Edad</option>
                <option value="player_traits">Caracteristícas del jugador</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Especifica la búsqueda</label>
            <input class="form-control" type="text" placeholder="Indica qué estás buscando"
                aria-label="buscar según ..." formControlName="searchBy">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">¿Es exacto?</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                    formControlName="searchExact">
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit" [disabled]="!searchForm.valid">Buscar</button>
            </div>
        </div>
    </form>
    <br>
    <table class="table table-hover">
        <thead>
            <th>Nombre</th>
            <th>Versión FIFA</th>
            <th>Club</th>
            <td>Pie hábil</td>
            <th>Posición/es</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let item of searchPlayers;">
                <td>{{item.long_name}}</td>
                <td>{{item.fifa_version}}</td>
                <td>{{item.club_name}}</td>
                <td>{{item.player_positions}}</td>
                <td>{{item.preferred_foot}}</td>
                <td><button>Ir</button></td>
                <td><button type="button">Editar</button></td>
            </tr>
        </tbody>
        <tfoot>
            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                <button class="btn btn-primary" type="button" [disabled]="page<=1"
                    (click)="previousPage()">Anterior</button>
                <button class="btn btn-primary" type="button" (click)="nextPage()">Siguiente</button>
            </div>
        </tfoot>
    </table>
</div>