<div class="container">
    <h1> Búsqueda de Jugadores</h1>
    <hr>
    <br>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Buscar según</label>
            <select name="filter" id="filter" class="form-select" formControlName="searchFilter"
                aria-placeholder="Selecciona una opción">
                <option value="" disabled>Selecciona una opción</option>
                <option value="long_name">Nombre</option>
                <option value="club_name">Club</option>
                <option value="player_positions">Posición</option>
                <option value="nationality_name">Nacionalidad</option>
                <option value="fifa_version">Versión de FIFA</option>
                <option value="overall">Overall</option>
                <option value="potential">Potencial</option>
                <option value="age">Edad</option>
                <option value="player_traits">Caracteristícas del jugador</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Especifica la búsqueda</label>
            <input class="form-control" type="text" placeholder="Indica qué estás buscando"
                aria-label="buscar según ..." formControlName="searchBy">
        </div>
        <div class="mb-3">
            <div class="input-group mb-3">
                <span class="input-group-text">Es exacto
                    <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault"
                        formControlName="searchExact" style="margin: 6px;">
                </span>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="submit" [disabled]="!searchForm.valid">Buscar</button>
            </div>
        </div>
    </form>
    <br>
    <section class="container">
        <table class="table table-hover">
            <thead>
                <th>Nombre</th>
                <th>Versión FIFA</th>
                <th>Club</th>
                <th>Posición/es</th>
                <th>Pie hábil</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let player of searchPlayers; trackBy: trackByPlayerId">
                    <td>{{player.long_name}}</td>
                    <td>{{player.fifa_version}}</td>
                    <td>{{player.club_name}}</td>
                    <td>{{player.player_positions}}</td>
                    <td>{{player.preferred_foot}}</td>
                    <td><button class="btn btn-info" (click)="goToProfile(player.id, 'profile')">Ver stats</button></td>
                    <td><button class="btn btn-warning" (click)="goToProfile(player.id, 'update')">Edit stats</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
            <button class="btn btn-primary" type="button" [disabled]="page<=1"
                (click)="movePage(false)">Anterior</button>
            <button class="btn btn-primary" type="button" (click)="movePage(true)">Siguiente</button>
        </div>
        <hr>
        <br>
    </section>

</div>