<div class="container">
    <div class="title-header text-center">
        <h1>Jugadores disponibles</h1>
    </div>
    <!-- <section class="list-players"> -->
    <hr>

    @if (players$ | async; as players) {
    <div class="row row-cols-1 row-cols-md-2 g-4">
        @for (player of players; track player.id) {
        <div class="col">
            <app-players-card [players]="player" [playerInfo]="playerInfo[player.id]" />
        </div>
        }
    </div>
    <br>
    <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <button class="btn btn-primary" type="button" [disabled]="page<=1" (click)="previousPage()">Anterior</button>
        <button class="btn btn-primary" type="button" (click)="nextPage()">Siguiente</button>
    </div>
    }
    <hr>
</div>

<!-- </section> -->
<!-- (loaded)="makeApiCall($event)" -->