nav {
    /* position: fixed; */
    display: flex;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(71, 71, 71, 0.8);
    justify-content: center;
    align-content: center;
    color: white
}