<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" ariaCurrentWhenActive="page">
            <img src="logofifaEA.png" alt="logo EA - fifa">
        </a>
        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form> -->
        <div class="d-flex flex-row-reverse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 " (userLoggedIn)="getUserData($event)">
                <li class="nav-item">
                    <button class="nav-link active" [routerLink]="['/players']" routerLinkActive="router-link-active"
                        ariaCurrentWhenActive="page">Jugadores</button>
                </li>
                @if(isLoggedIn === false){
                <li class="nav-item">
                    <button class="nav-link active" [routerLink]=" ['auth/login']" routerLinkActive="router-link-active"
                        ariaCurrentWhenActive="page">
                        Iniciar sesión
                    </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" [routerLink]=" ['auth/signup']"
                        routerLinkActive="router-link-active" ariaCurrentWhenActive="page">
                        Registrarse
                    </button>
                </li>
                }@else {
                <li class="nav-item">
                    <button class="nav-link active" [routerLink]="['user/profile']"
                        routerLinkActive="router-link-active" ariaCurrentWhenActive="page">{{user}}</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link active" (click)="logout()">Log out</button>
                </li>
                }
            </ul>
        </div>
    </div>
</nav>