<div class="container">
    <section>
        <img src="https://media.contentapi.ea.com/content/dam/ea/fifa/fifa-23/womens-world-cup/images/2023/06/f23-wwc-adapative-logo-7x2-xl-5x2-lg-2x1-md.png.adapt.crop7x2.1920w.png"
            alt="Logo fifa" srcset="">
    </section>
    <hr>
    <section>
        <h2 class="text-center">Bienvenido al portal de Futbolistas de FIFA - EA Sports</h2>
    </section>
    <hr>
    <section>
        <div class="row text-center">
            <div class="col-8">
                <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptates aperiam illo quam
                    culpa? Nemo voluptatum adipisci recusandae a, ab omnis voluptas accusamus. Totam laborum, neque
                    aliquam facere tempore cum?</article>
                <figure class="figure">
                    <img src="https://imgs.search.brave.com/eEGT3cOx-eoIxlOhzRb1PUY5XdVXt7Oo08fYYgZDcNg/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDExMzI2/NDg4LmpwZw"
                        class="figure-img img-fluid rounded" alt="..." id="img-grande">
                    <figcaption class="figure-caption text-end">A caption for the above image.</figcaption>
                </figure>
                <article>Praesent varius lectus eu tellus sollicitudin viverra. Cras et magna felis. Vestibulum at felis
                    volutpat, cursus neque sit amet, tempor erat. Curabitur at ullamcorper eros. Vivamus in justo
                    lectus. Nullam sed tortor leo. Maecenas tempus ultrices facilisis. Vivamus laoreet, urna vel gravida
                    feugiat, enim elit ultricies turpis, in egestas leo risus eu sem. Nunc nisl dolor, dignissim quis
                    tortor vel, lobortis aliquet turpis. Phasellus feugiat laoreet sollicitudin. Praesent facilisis
                    vulputate est, sit amet scelerisque turpis ultrices vel. Vestibulum metus massa, congue in tortor
                    eget, volutpat molestie ex. Nullam ultricies metus libero, ac finibus velit molestie a. Donec tempor
                    nulla nulla, eget vestibulum tortor ultrices et. Quisque purus velit, luctus et varius ac, pretium
                    et sapien.

                    Donec a libero id lorem cursus blandit ullamcorper sed sem. Sed ac tincidunt purus, ut maximus nisl.
                    Duis tempus lacinia ex, id faucibus orci tincidunt a. Maecenas tortor arcu, ullamcorper porttitor
                    libero et, pellentesque fermentum augue. Vestibulum aliquam sed sapien vitae porttitor. Fusce
                    blandit magna vitae velit semper porttitor. Nulla odio dui, tempor in aliquet in, faucibus eget leo.
                    Maecenas id purus felis. Sed ac tincidunt quam. Integer dapibus aliquam turpis, quis tristique diam
                    condimentum eget. Aenean sit amet elit ut nibh pulvinar vestibulum. Morbi vel congue diam. Vivamus
                    accumsan fringilla nunc, vel rhoncus erat auctor vitae. Etiam ultrices sollicitudin velit. Donec eu
                    tincidunt risus, eget lacinia nisl.

                    Morbi in justo at velit lobortis elementum nec quis tellus. Nulla facilisi. Phasellus egestas in
                    ligula hendrerit porta. Cras congue odio justo, a malesuada felis eleifend vel.</article>
            </div>
            <div class="col-4">
                <figure class="figure">
                    <img src="https://s.cafebazaar.ir/images/icons/ir.niwangame.fifa22-32504263-ad97-4870-9318-3f369427772d_512x512.png?x-img=v1/format,type_webp,lossless_false/resize,h_256,w_256,lossless_false/optimize"
                        class="figure-img img-sm rounded" alt="...">
                </figure>
                <figure class="figure">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn8B9B6niD0TcgHj_Ra0NqqjSWSoDCXDz8Uw&s"
                        class="figure-img img-sm rounded" alt="...">

                </figure>
                <figure class="figure">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNCOI4nZCx6EDr03whFeU3djXzDdYNFg7SJQ&s"
                        class="figure-img img-sm rounded" alt="...">
                </figure>
            </div>
        </div>
    </section>
</div>