<div class="container">
    <h1> Modificar Jugadores</h1>
    <hr>
    <h3 class="text-left" *ngIf="!hasQueryParams && lookForAPlayer">
        Elije al jugador a modificar
    </h3>
    <br>
    <form [formGroup]="lookForUpdateForm" (ngSubmit)="playerSearchToUpdate()" *ngIf="!hasQueryParams && lookForAPlayer">
        <div class="row">
            <div class="col-3">
                <img src="logoForm.png" alt="logo" sizes="" srcset="">
            </div>
            <div class="col-1">

            </div>
            <div class="col-6" style="align-content: center; margin: 15px;">
                <div class="input-group mb-6">
                    <span class="input-group-text">Buscar por ID</span>
                    <div class="form-floating">
                        <input class="form-control" type="number" placeholder="Identificador" aria-label="Identificador"
                            formControlName="id" id="floatingInput">
                    </div>
                    <button type="submit" (click)="playerSearchToUpdate()"
                        [disabled]="!lookForUpdateForm.valid">Buscar</button>
                </div>
            </div>
        </div>
    </form>
    <div *ngIf="errorBool">
        <!-- <app-alerts [alertMessage]="alertMessage.message" [alertType]="alertMessage.type"></app-alerts> -->
        <div class="alert alert-error" role="alert">
            <div class="row">
                <div class="col-8">
                    Error al intentar ejecutar la modificación
                </div>
                <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success" (click)="reload()">Volver a intentar</button>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isLoading">
        <app-loading></app-loading>
    </div>
    <br>
    <form [formGroup]="updatePlayerForm" (ngSubmit)="onSubmit()" *ngIf="hasQueryParams && !lookForAPlayer">
        <br>
        <div class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="text" placeholder="Nombre completo"
                            aria-label="Nombre completo" formControlName="long_name" id="floatingInputGrid">
                        <label for="floatingInputGrid" class="form-label">Nombre</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <select name="filter" id="filter" class="form-select" formControlName="fifa_version">
                            <option selected disabled>Selecciona una opción</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                        <label for="filter" class="form-label">Versión de FIFA</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <select name="filter" id="filter2" class="form-select" formControlName="fifa_update">
                            <option disabled>Selecciona una opción</option>
                            <option value="2" selected>2</option>
                        </select>
                        <label for="filter2" class="form-label">Actualización de FIFA</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="text" placeholder="ST, CF, RW" aria-label="player_positions"
                            formControlName="player_positions" id="floatingInputGrid2">
                        <label for="floatingInputGrid2" class="form-label">Posición del Jugador</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="url" placeholder="htttp://profilepicture.com"
                            aria-label="Foto de perfil" formControlName="player_face_url" id="floatingInputGrid3">
                        <label for="floatingInputGrid3" class="form-label">Foto Perfil (url)</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="number" placeholder="78" aria-label="overall"
                            formControlName="overall" id="floatingInputGrid4">
                        <label for="floatingInputGrid4" class="form-label">Overall</label>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="number" placeholder="95" aria-label="Potencial"
                            formControlName="potential" id="floatingInputGrid5">
                        <label for="floatingInputGrid5" class="form-label">Potential</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="number" placeholder="25" aria-label="Edad"
                            formControlName="age" id="floatingInputGrid5">
                        <label for="floatingInputGrid5" class="form-label">Edad</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="url" placeholder="Club actual" aria-label="club_name"
                            formControlName="club_name" id="floatingInputGrid6">
                        <label for="floatingInputGrid6" class="form-label">Club</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="text" placeholder="Rep. Checa" aria-label="nationality_name"
                            formControlName="nationality_name" id="floatingInputGrid7">
                        <label for="floatingInputGrid7" class="form-label">Nacionalidad</label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="number" placeholder="En Euros" aria-label="value_eur"
                            formControlName="value_eur" id="floatingInputGrid8">
                        <label for="floatingInputGrid8" class="form-label">Valor </label>
                    </div>
                </div>
                <br>
                <div class="input-group mb-3">
                    <div class="form-floating">
                        <input class="form-control" type="number" placeholder="En Euros" aria-label="wage_eur"
                            formControlName="wage_eur" id="floatingInputGrid9">
                        <label for="floatingInputGrid9" class="form-label">Salario</label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end" *ngIf="!alertMessage.isActivated">
                <button class="btn btn-primary me-md-2" type="submit"
                    [disabled]="!updatePlayerForm.valid">Actualizar</button>
            </div>
        </div>
    </form>
    <div *ngIf="alertMessage.isActivated">
        <!-- <app-alerts [alertMessage]="alertMessage.message" [alertType]="alertMessage.type"></app-alerts> -->
        <div class="alert alert-success" role="alert">
            <div class="row">
                <div class="col-8">
                    Jugador modificado exitosamente
                </div>
                <div class="col-4 d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-success" (click)="goToProfile('profile')">Ver stats</button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>