<div class="container">
    <h1> Modificar Jugadores</h1>
    <hr>
    <br>
    <form [formGroup]="updatePlayerForm" (ngSubmit)="onSubmit()">
        <h3><u>Campos</u></h3>
        <br>
        <div class="input-group">
            <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                <input class="form-control" type="text" placeholder="Nombre completo" aria-label="Nombre completo"
                    formControlName="long_name">
            </div>
            <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Versión de FIFA</label>
                <select name="filter" id="filter" class="form-select" formControlName="fifa_version">
                    <option selected disabled>Selecciona una opción</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="exampleFormControlInput1" class="form-label">Actualización de FIFA</label>
                <select name="filter" id="filter" class="form-select" formControlName="fifa_update">
                    <option selected disabled>Selecciona una opción</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Posición del Jugador</label>
                <input class="form-control" type="text" placeholder="ST, CF, RW" aria-label="player_positions"
                    formControlName="player_positions">
            </div>
        </div>
        <div class="input-group mb-3">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Foto Perfil (url)</label>
                <input class="form-control" type="url" placeholder="htttp://profilepicture.com"
                    aria-label="Foto de perfil" formControlName="player_face_url">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Overall</label>
                <input class="form-control" type="number" placeholder="78" aria-label="overall"
                    formControlName="overall">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Potential</label>
                <input class="form-control" type="number" placeholder="95" aria-label="Potencial"
                    formControlName="potential">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Edad</label>
                <input class="form-control" type="number" placeholder="25" aria-label="Edad" formControlName="age">
            </div>
        </div>
        <br>
        <div class="input-group mb-3">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Club</label>
                <input class="form-control" type="url" placeholder="Club actual" aria-label="club_name"
                    formControlName="club_name">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nacionalidad</label>
                <input class="form-control" type="number" placeholder="Rep. Checa" aria-label="nationality_name"
                    formControlName="potential">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Valor </label>
                <input class="form-control" type="number" placeholder="En Euros" aria-label="value_eur"
                    formControlName="value_eur">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Salario</label>
                <input class="form-control" type="number" placeholder="En Euros" aria-label="wage_eur"
                    formControlName="wage_eur">
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="submit"
                [disabled]="!updatePlayerForm.valid">Actualizar</button>
        </div>
    </form>
</div>
<hr>