@let playerLocal = players();
<!-- @let playerInfoLocal = playerInfo(); -->


@if (playerLocal) {
<div class="card mb-3 text-center" style="border-radius: 30px;">
    <div class="row">
        <div class="col-4">
            <img class="img rounded float-start mx-auto" [ngSrc]="playerLocal.player_face_url"
                [alt]="playerLocal.long_name" width="150" height="150" style="border-radius: 30px;" />
        </div>
        <div class="col-8">
            <h2 class="card-title">{{ playerLocal.long_name }}</h2>
            <h4 class="card-text">{{ playerLocal.club_name}}</h4>
            <a (click)="goToProfile(playerLocal.id)" class="btn btn-primary">Ver
                más</a>
        </div>
    </div>
</div>

}